#canvas-holder {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend{
  overflow:auto;
  height:250px;
}

.float-left{
  float:left;
}

#barChartContainer {
  width: 50%; 
  text-align:center; 
  display: inline-block;
}
#pieChartContainer {
  width: 40%; 
  display: inline-block;
}

#codeBlock {
    display: inline-block;
    width: 60%;
}
/*
Set up charts for mobile
*/
@media (max-width: 1081px) {
    #pieChartContainer {
      width: 70%; 
    }
    #barChartContainer {
      width: 70%; 
    }
    #codeBlock {
      width: 80%;
    }
}
@media (max-width: 725px) {

    #pieChartContainer {
      width: 80%; 
    }
    #barChartContainer {
      width: 100%; 
    }
    #codeBlock {
      width: 95%;
    }
}
