.search {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 22px;
  margin-right: 2%;
  width: 60%;
}
.center {
    float: none;
    margin: 0 auto;
}

#tags {
    width: 100%;
    display: inline-block;
    line-height: 40px;
    text-align: left;
}

#copyCodeBlock {
    margin-top: 10px;
    color: blue;
    text-align: right;
}
#copyCodeBlock:hover {
    cursor: pointer;
}
#search_values {
  z-index: 0;
  float: left;
}
#search_submit {
  position: absolute;
  z-index: 1;
  float: right;
  text-align: right;
}
.input-group{
  width: 100%;
}